{% extends 'layouts/main.html' %}

{% block title %}
Dashboard &ndash; MyBnB
{% endblock %}

{% block top %}

<div class="d-flex flex-column mb-4">
  <a class="btn btn-outline-primary" href="/">← MyBnB Home</a>
</div>


<h1>Dashboard</h1>
<p>Welcome back, {{ user.name }}.</p>

{% endblock %}

{% block content %}

{% if user.is_renter %}
  <a class="btn btn-primary mx-auto" href="/listings" style="max-width: 20em">
    Search Listings
  </a>

  <hr/>

  <a class="btn btn-success mx-auto" href="/my-rentals" style="max-width: 20em">
    My Rentals
  </a>
{% else %}
  <a class="btn btn-outline-success mx-auto" href="/become-a-renter" style="max-width: 20em">
    Become a Renter
  </a>
{% endif %}

{% if user.is_host %}
  <a class="btn btn-success mx-auto" href="/my-listings" style="max-width: 20em">
    My Listings
  </a>
{% else %}
  <a class="btn btn-outline-success mx-auto" href="/become-a-host" style="max-width: 20em">
    Become a Host
  </a>
{% endif %}
  
<hr/>

<a class="btn btn-dark mx-auto" href="/my-profile" style="max-width: 20em">
  My Profile
</a>

<hr/>

<a class="btn btn-outline-dark mx-auto" href="/reports" style="max-width: 20em">
  System Reports
</a>

{% endblock %}
