{% extends 'layouts/main.html' %}

{% block title %}
Schedule Listing &ndash; MyBnB
{% endblock %}

{% block top %}

<div class="d-flex flex-column mb-4">
  <a class="btn btn-outline-primary" href="/my-listings">← My Listings</a>
</div>

<h1>Schedule Listing</h1>

<p>{{ listing.type }} in {{ listing.city }} at {{ listing.postal }}</p>

{% endblock %}

{% block content %}

<ul class="ps-0">
  {% for slot in slots %}
    <li class="card">
      <div class="card-body d-flex flex-row align-items-baseline justify-content-between">
        <h6 class="card-title">
          {% if slot.rental_price == None %}
            <span class="text-danger">{{ slot.date }} &ndash; Unavailable</span>
          {% elif slot.renter_id == None %}
            <span class="text-success">{{ slot.date }} &ndash; {{ "${:,.0f}".format(slot.rental_price) }}/night</span>
          {% else %}
            <span class="text-info">{{ slot.date }} &ndash; {{ "${:,.0f}".format(slot.rental_price) }}/night &ndash; <strong>Booked</strong></span>
          {% endif %}
        </h6>
        <form class="btn-group ms-4">
          {% if slot.rental_price == None %}
            <a href="/my-listings/{{ listing.id }}/schedule/{{ slot.id }}/set-price" class="btn btn-sm btn-outline-success ps-3 pe-3">Set Price</a>
            <button type="submit" formaction="/my-listings/{{ listing.id }}/schedule/{{ slot.id }}/delete" formmethod="POST" class="btn btn-sm btn-outline-dark ps-3 pe-3">Delete</button>
          {% elif slot.renter_id == None %}
            <a href="/my-listings/{{ listing.id }}/schedule/{{ slot.id }}/set-price" class="btn btn-sm btn-outline-dark ps-3 pe-3">Change Price</a>
            <button type="submit" formaction="/my-listings/{{ listing.id }}/schedule/{{ slot.id }}/retract" formmethod="POST" class="btn btn-sm btn-outline-danger ps-3 pe-3">Retract</button>
          {% else %}
            <button type="submit" formaction="/my-listings/{{ listing.id }}/schedule/{{ slot.id }}/cancel" formmethod="POST" class="btn btn-sm btn-outline-danger ps-3 pe-3">Cancel Booking</button>
          {% endif %}
          <a href="/my-listings/{{ listing.id }}/schedule/{{ slot.id }}/info" class="btn btn-sm btn-outline-info ps-3 pe-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16" style="transform: translateY(-2px)">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
          </a>
        </form>
      </div>
    </li>
  {% endfor %}

  <h2>Past Bookings</h2>

  {% for pastslot in pastslots %}
  <li class="card">
    <div class="card-body d-flex flex-row align-items-baseline justify-content-between">
      <h6 class="card-title">
          <span class="text-info">{{ pastslot.date }} &ndash; {{ "${:,.0f}".format(pastslot.rental_price) }}/night &ndash; <strong>Booked</strong></span>
      </h6>
      <form class="btn-group ms-4">
        {% if pastslot.date > two_weeks_ago %}
          <button type="submit" formaction="/my-listings/{{ listing.id }}/schedule/{{ pastslot.renter_id }}/rate-renter" formmethod="POST" class="btn btn-sm btn-outline-dark ps-3 pe-3">Rate Renter</button>
        {% else %}
          <button type="submit" formaction="#" disabled class="btn btn-sm btn-outline-danger ps-3 pe-3">Can't Rate Renter</button>
        {% endif %}
      </form>
    </div>
  </li>
{% endfor %}
</ul>

<form class="btn-group">
  <button type="submit" formaction="/my-listings/{{ listing.id }}/schedule/add-week-of-slots" formmethod="POST" class="btn btn btn-outline-primary ps-3 pe-3">Add 7 More Days</button>
  <input type="hidden" name="days" value="7"/>
  <a href="/my-listings/{{ listing.id }}/schedule/add-slots" class="btn btn-outline-success ps-3 pe-3">Add Days…</a>
</form>

{% endblock %}
