{% extends 'layouts/main.html' %}

{% block title %}
My Listings &ndash; MyBnB
{% endblock %}

{% block top %}

<div class="d-flex flex-column mb-4">
  <a class="btn btn-outline-primary" href="/dashboard">← Dashboard</a>
</div>

<h1>My Listings</h1>
<p>Listed by {{ user.name }}</p>

{% endblock %}

{% block content %}

<ul>
  {% for listing in listings %}
    <li>
      <a href="/listings/{{ listing.id }}/edit">{{ listing.type }} in {{ listing.city }} at {{ listing.postal }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
